.invalid_age {
  width: 30rem;
  height: 10rem;
  /* background-color: rgba(5, 5, 5, 0.95); */
  background-color: rgba(215, 36, 36, 0.95);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  box-shadow: 8px 8px 6px 1px #000;

  border-radius: 20px;
}
.heading-name_age {
  height: 30%;
  width: 100%;
  text-align: center;

  padding: 10px 0 10px 0;
  color: #fff;

  border-bottom: 2px solid #fff;
}
.contents_age {
  height: 50%;
  width: 100%;
  padding: 0px 15px 0 15px;

  text-align: center;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .invalid {
    width: 17rem;
  }
}
